body
{
	background-color: #A5B2A2;
}
h1
{
	font-size:60px;
	text-align:center;
	color: bold;
	background-color:white;
}
h2
{
	font-size: 17px;
	text-align: center-left;
}
h3
{
	text-align : left;
	font-size: 15px;

}



